---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>About me</h2>
				<p>{{ site.description }}</p>
				<h2>{{ site.descrption2 }}</h2>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>Play my games</h2>
				<ul class="projects-list">
					{% for item in site.categories.games reversed %}
						<li>
							<a href="{{ item.project.url }}" target="_blank">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h5">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
								<h6>{{ item.project.description }}</h6>
							</a>
						</li>
					{% endfor %}
					{% for item in site.categories.games-small reversed %}
						<li>
							<a href="{{ item.project.url }}" target="_blank">
								<span class="h5">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
								<h6>{{ item.project.description }}</h6>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section class="projects">
			<div class="container">
				<h2>Check out my research</h2>
				<ul class="projects-list">
					{% for item in site.categories.research reversed %}
						<li>
							<a href="{{ item.project.url }}" target="_blank">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h5">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
								<h6>{{ item.project.description }}</h6>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section class="projects">
			<div class="container">
				<h2>Some other projects</h2>
				<ul class="projects-list">
					{% for item in site.categories.other reversed %}
						<li>
							<a href="{{ item.project.url }}" target="_blank">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h5">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
								<h6>{{ item.project.description }}</h6>
							</a>
						</li>
					{% endfor %}
					{% for item in site.categories.other-small reversed %}
						<li>
							<a href="{{ item.project.url }}" target="_blank">
								<span class="h5">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
								<h6>{{ item.project.description }}</h6>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/pineapple/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/pineapple/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
