<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1>
		<h1 class="nav">
			<a href="mailto:dacharya64@gmail.com"><i class="fa fa-envelope"></i></a>
			<a href="https://www.devi-a.com/blog/"><i class="fa fa-book"></i></a>
			<a href="https://twitter.com/dacharya64"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/dacharya"><i class="fa fa-linkedin"></i></a>
			<a href="https://github.com/dacharya64"><i class="fa fa-github"></i></a>
			<a href="https://www.twitch.tv/scholarsplay/"><i class="fa fa-twitch"></i></a>
		</h1>
	</div>
</header>
